:root {
  --background: #020817;

  --card: #0F172A;

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --secondary: #38BDF8;

  --success: #22C55E;
  --danger: #EF4444;

  --text-primary: #F8FAFC;
  --text-secondary: #94A3B8;

  --border: #1E293B;

  --input: #0B1120;
}